<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>COVID19 MONITOR</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<style>
  .button {
  font: bold 32px Arial;
  text-decoration: none;
  background-color: rgba(200,180,120,0.7);
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
</style>

<div id="page-wrap">

  <div style="text-align:center">
    <a class="button" href="/">Página Inicial</a>
    <a class="button" href="/diagnose">Diagnóstico COVID</a>
    <a class="button" href="/simulation">Simulador Contágio</a>
  </div>

<p></p>

  <h1 align="center">
    Report de casos de COVID19
  </h1>
  {% if last_update %}
    <h6 style="text-align: right"> *Última atualização: {{ last_update }}</h6>
  {% endif %}
  {{ chart_1|safe }}


  <p>
    O gráfico acima mostra a evolução dos casos confirmados para diferentes
    países a partir do dia em que atingiram 50 casos. Esta métrica é utilizada
    para comparar as curvas na mesma janela de tempo
  </p>

  {{ chart_2|safe }}

  <p>
    O gráfico acima mostra a velocidade de progressão de contaminação para
    diferentes países através da quantidade de dias necessários para dobrar o
    número de casos. Esta métrica é observada ao longo do tempo e quanto
    menor o valor, mais rápida é a contaminação
  </p>

  {{ chart_3|safe }}

  <p>
    O gráfico acima mostra a velocidade de progressão de contaminação numa
    visão acumulada a partir do momento 0. Assim, o número no eixo vertical
    corresponde à taxa de multiplicação de casos num determinado período, em
    relação ao ponto 0
  </p>

  {{ chart_4|safe }}

  <p>
    O gráfico representa a projeção de casos para o Brasil caso ele seguisse
    a progressão de contaminação de 3 países selecionados: Itália, China e
    Coréia do Sul
  </p>

    {{ chart_5|safe }}

  <p>
    Este gráfico mostra a comparação entre os casos acumulados e novos casos
    no mundo, para sabermos se estamos controlando o surto
  </p>

    {{ chart_6|safe }}

  <p>
    Este gráfico mostra a comparação entre os casos acumulados e novos casos
    no Brasil, para sabermos se estamos controlando o surto
  </p>

</div>

</body>
</html>