<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simulation COVID19</title>
  <script src="{% static 'js/p5.min.js' %}"></script>
  <script src="{% static 'js/particles.js' %}"></script>
</head>
<body>

<style>
    .button2 {
  font: bold 32px Arial;
  text-decoration: none;
  background-color: rgba(200,180,120,0.7);
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
</style>

  <div style="text-align:center">
    <a class="button2" href="/">Página Inicial</a>
    <a class="button2" href="/diagnose">Diagnóstico COVID</a>
    <a class="button2" href="/simulation">Simulador Contágio</a>
  </div>

<div id="container">

</div>

</body>
</html>